<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Testform</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error!=null}"></div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h1>表单部分</h1>
            <h2><span class="glyphicon glyphicon-plus"></span>发起</h2>
            <form action="/testForm" method="post">
                <div class="form-group">
                    <label for="questionTitle">发起提问</label>
                    <input type="text" class="form-control" id="questionTitle" name="title" placeholder="Question title here">
                </div>
                <div class="form-group">
                    <label for="questionContext"></label>
                    <textarea name="description" class="form-control" id="questionContext" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="questionTag">问题标签</label>
                    <input type="text" class="form-control" id="questionTag" name="tag" placeholder="输入标签">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">成功</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h1>静态部分</h1>
        </div>
    </div>
</div>
</body>
</html>